@layout('layouts/main')

@section('content')
  <p>LISTANDO POSTS</p>
 

 
  <ul>
    <li>{{post.user.username}}</li>
    <li>{{post.title}}</li>
    <li>{{post.content}}</li>
    <li>{{post.createdAt}}</li>
  </ul>
  
  
  
  
@end
