@if(href)
  <a href="{{ href }}" class="text-yellow-100 text-opacity-50 bg-indigo-950 border-none p-2 rounded-md border-primary-200 text-primary-700 hover:bg-indigo-950 hover:text-opacity-100 transform active:bg-indigo-950">
    {{{ await $slots.main() }}}
  </a>
@else
  <button class="bg-blue-850 border rounded-full border-yellow-200 text-yellow-100 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
    {{{ await $slots.main() }}}
  </button>
@end
