<input
  class=" border border-yellow-100 bg-indigo-900 rounded-lg w-full py-2 px-3 text-yellow-100 leading-tight
  @if(flashMessages.has(`errors.${name}`))~
    border-red-500
  @end~
  "
  type="{{ type }}"
  name="{{ name }}"
  id="{{name}}"
  value="{{ flashMessages.get(name) ? flashMessages.get(name) : '' }}"
/>
@if(flashMessages.has(`errors.${name}`))
  <p class="text-sm text-red-500">
    {{ flashMessages.get(`errors.${name}`) }}
  </p>
@end
