
    <textarea name="{{ name }}" id="{{ name }}" class="block p-2.5 w-full text-sm text-red-900 bg-indigo-900 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 "></textarea>
    
