<footer class="bg-indigo-950">
  <div class="mx-auto max-w-7xl py-12">
    <p class="text-yellow-100 text-center text-xs leading-5">&copy; 2023 DCC/UFRRJ - feito por Victor e Julia</p>
  </div>
</footer>
