@layout('layouts/main')

@section('content')

<div class="column">
    <h1>Reset your password</h1>
    <p>
        Enter your email below and we'll send you a password reset link
    </p>

    <form action="POST" action="{{ route('password.send')}}">
        <input type="email" name="email" placeholder="Enter your email">
        <button type="submit">
            Reset Password
        </button>
    </form>
</div>
@endsection