@layout('layouts/app')

@section('content')

<div class="column">
    
    <h1>Reset your password</h1>
    <p>
        Enter your new password bellow
    </p>

    <form action="POST" action="{{ route('password.send')}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="email" name="email" placeholder="Enter your new password">
        <button type="submit">
            Reset Password
        </button>
    </form>
</div>
@endsection